
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li class="title">
              JSON Server
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <h1>Congrats!</h1>
        <p>
          You're successfully running JSON Server
          <br>
          ✧*｡٩(ˊᗜˋ*)و✧*｡
        </p>

        <div id="resources">
    <div>
      <h1>Resources</h1>
      
    <ul>
      
    <li>
      <a href="http://localhost:3000/getResult">/getResult</a>    
    </li>
    <li>
      <a href="http://localhost:3000/getModel1">/getModel1</a>
    </li>
    <li>
      <a href="http://localhost:3000/getModel2">/getModel2</a>
    </li>
  
    </ul>
  
    </div>
  </div>

        <p>
          To access and modify resources, you can use any HTTP method:
        </p>
        <p>
          <code>GET</code>
          <code>POST</code>
          <code>PUT</code>
          <code>PATCH</code>
          <code>DELETE</code>
          <code>OPTIONS</code>
        </p>

        <h1>Documentation</h1>
        <p>
          <a href="https://github.com/typicode/json-server">
            README
          </a>
        </p>
      </div>
    </main>
  
